<h1>
CUSTOMER SEARCH
</h1>
<div>
    <label for="name">Name :</label>
    <input type = "text" id="name">
    <br>
    <label for="customerId">CustomerId :</label>
    <input type = "text" id = "">
    <br>
    <label for="dob">Date Of Birth : </label>
    <input type = "text" id = "dob">
    <br>
    <label for = "">Account Number :</label>
    <input type = "text" id = "">
    <br>
    <label for = "">Email Id : </label>
    <input type = "text" id = "">
    <br>
    <label for = "">PAN Number : </label>
    <input type = "text" id = "">
    <br>
    <label for = "">Contact Number : </label>
    <input type = "text" id = "">
    <br>
    <button type = "button" name ="Search">Search</button>
    <button type = "button" name ="Refresh">Refresh</button>
    <button type = "button" name = "Back">Back</button>
</div>
