<!-- <app-login></app-login> -->
<div style="text-align: center">
<img width="400" height="200" alt="Abc Banking" src="assets/Images/Abc.png">
<hr>

</div>
<app-navbar></app-navbar>
<router-outlet></router-outlet>
<app-footer></app-footer>
<!--
<hr>
<app-main-menu></app-main-menu>
<hr>
<app-de-duplication></app-de-duplication>
<hr>
<app-customer-search></app-customer-search>
<hr>
<app-list-customers></app-list-customers>
<hr>
<app-customer-details></app-customer-details>
<hr> -->
<!-- <app-add-customer></app-add-customer> -->